{:webserver
 {:port #long #or [#env PORT 3000]}
 :postgres
 {:host #or [#env DB_HOST "localhost"]
  :port #long #or [#env DB_PORT 5432]
  :database #or [#env DB_DATABASE "vt"]
  :user #or [#env DB_USER "vt"]
  :password #or [#env DB_PASSWORD "password"]}
 :github
 {:token #or [#env GH_TOKEN #profile {:default "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"
                                      :test "magic-token"}]
  :base-url #or [#env GH_API_URL #profile {:default "https://api.github.com/graphql"
                                           :test "http://localhost:3001/graphql"}]}}
